{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="preload"
      as="style"
      href="{% static 'css/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/_header.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/_footer.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/const.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/characters.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/home.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/login.css' %}"
      onload="this.rel = 'stylesheet'"
    />
  </head>
  <body>
    <header>{% include 'partials/_header.html' %}</header>
    <section>{% block content %} {% endblock %}</section>

    <footer>{% include 'partials/_footer.html' %}</footer>
  </body>
</html>
