{% load static %}
<div class="footer-cont d-flex wrap">
    <div class="flex-col">
       
        <h4 class="d-flex"> <img src="{% static 'images/logo.png' %}" alt="">
            <span class="m-auto-vert">
            Tanhouser Industries
        </span>
        </h4>
        <p>This will be the turnhouser message to the peope
        This will be the turnhouser message to the peope 
        This will be the turnhouser message to the peope 
        This will be the turnhouser message to the peope</p>
        <small>by line or slogan //</small>

    </div>
    <div class="flex-col center-content">
        <h3>Blindes From DND</h3>
        <a href="http://">This</a>
        <a href="http://">Are</a>
        <a href="http://">The</a>
        <a href="http://">footer</a>
        <a href="http://">Links</a>
    </div>
    <div class="flex-col center-content">
        <h3>Blindes From DND</h3>

        <a href="http://">This</a>
        <a href="http://">Are</a>
        <a href="http://">The</a>
        <a href="http://">footer</a>
        <a href="http://">Links</a>
    </div>
</div>
