<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  </head>

  <body>
    {% comment %} {% include "partials/_header.html" %} {% endcomment %}

    <main>{% block content %} 10 {% endblock %}</main>
  </body>
  {% comment %}
  <script src="./static/js/index.js" type="module"></script>
  <script src="./static/js/jquery-3.6.3.js"></script>
  {% endcomment %}
</html>
